body {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 14px;
    color: #333;
}
.container {
   /* width: 600px; */ 
   /* margin: 0 auto; */
    box-shadow: 0 0 20px rgba(0, 0, 0, .9); 
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(151, 154, 0);
    padding: 0;
}
header {
    background-color: #432800;
    padding: 10px; 
    color: #fff; 
}
header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center; 
}
.preface p {
    margin-top: 20px;
}
.preface {
    text-align: center; 
    font-size: 16px; 
    margin: 5px;
}
#showClock {
    text-align: center;
    font-size: 11px;
    color: rgb(24, 23, 23);
}
.motto {
    margin-top: 15px;
    padding: 0;
}
.motto span {
    font-weight: bold;
    text-decoration: underline;
}
.information h3 {
    font-size: 16px;
    margin: 0;
    background-color: #E6E4DD; 
    padding: 5px 10px;
    border: 1px solid #eb9d63;
}
.information ul {
    list-style-type: disc;
    margin: 0; 
}
.information li {
    padding: 0 10px;
}
/*
hr {
    border-width: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}
*/
.reference {
    margin: 8px 0;
    font-size: 12px;
}
footer {
    padding: 6px;
}
footer h2 {
    background-color: #422814;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 0;
}